## Имена переменных

Для переменных, функций необходимо использовать:
Первым символом *a‥zA‥Z_*, а потом *a‥zA‥Z_0‥9*

* нелатинские буквы разрешены, но избегайте их
* ключевые слова языка запрещены
* маленькие/БОЛЬШИЕ буквы отличаются

Примеры:
- Правильно ☺: a toto x7 y_max BigOne
- Неправильно ☹: ~~8y~~ ~~and~~

In [2]:
# Это первый комментарий
spam = 1  # Это второй комментарий
          # ... и это третий комментарий
text = "# Это не комментарий, потому что значок решетки заключен в ковычки"

## Присвоение переменным

In [4]:
width = 20  # ширина прямоугольника
height = 5 * 9  # длина прямоугольника

width * height

900

## Типы переменных

Переменные бывают следующих типов:
* целые числа
* вещественные числа (с запятой)
* строковые данные

In [18]:
# целые числа
integer = 23
integer_from_str = int("-15")

print(integer, integer_from_str)

23 -15

In [19]:
# вещественные числа
float_number = -0.5
float_number_from_str = float("12.25")

print(float_number)
print(float_number_from_str)

-0.5
12.25

## Операции с числами

Для работы с числами можно использовать следующие операторы: 
* " + " - сложение
* " - " - вычитание
* " * " - умножение
* " / " - деление
* " // " - целая часть от деления
* " % " - остаток от деления
* " ** " - возведение в степень

In [22]:
print(2 + 2)
print(50 - 5*6) 
print((50 - 5*6) / 4)
print(8 / 5)  # деление всегда возвращает вещественное число

4
20
5.0
1.6

In [25]:
print(17 / 3)  # обычное деление возвращает вещественное число

print(17 // 3)  # оператор // возвращает целую часть от деления

print(17 % 3)  # оператор % возвращает остаток от деления

print(2 ** 4)  # возведение в степень, сокращеная запись 2*2*2*2

5.666666666666667
5
2
16

### Задача 1
Дано расстояние L в сантиметрах. Используя операцию деления нацело, 
найти количество полных метров в нем.

### Задача 2
Даны целые положительные числа A и B (A > B). На отрезке длины A
размещено максимально возможное количество отрезков длины B 
(без наложений). Используя операцию взятия остатка от 
деления нацело, найти длину незанятой части отрезка A.

## Задача 3
Дано двузначное число. Вывести число, полученное 
при перестановке цифр исходного числа.

## Задача 4 
Дано трехзначное число. В нем зачеркнули первую справа цифру и
приписали ее слева. Вывести полученное число

## Задача 5
С начала суток прошло N секунд (N — целое). Найти количество
полных минут, прошедших с начала последнего часа.

## Задача 6
Дни недели пронумерованы следующим образом: 0 — воскресенье,
1 — понедельник, 2 — вторник, …, 6 — суббота. Дано целое число K, 
лежащее в диапазоне 1–365. Определить номер дня недели для K-го дня года,
если известно, что в этом году 1 января было понедельником.

## Тип данных - строки
Строки могут быть заключены в одинарные или двойные кавычки

In [30]:
# строки
test = 'ololo'
line = "qwerty"
str(2344523234)

'2344523234'

In [28]:
s = 'First line.\nSecond line.'  # \n данное сочетание означает переход на новую строку
s  # если не использовать функцию print(), сочетание \n будет так и выведено

'First line.\nSecond line.'

In [29]:
print(s)  # с функцией print(), \n переведет курсор на новую строку

First line.
Second line.

In [33]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'

'unununium'

In [34]:
word = 'Python'
print(word[0])  # символ на позиции 0

print(word[5])  # символ на позиции 5

'n'

In [38]:
print(word[-1])  # последний символ

print(word[-2])  # предпоследний символ

print(word[-6])

n
o
P

In [39]:
print(word[0:2])  # символы с позиции 0 (включая) до 2 (не включая)

print(word[2:5])  # символы с позиции 2 (включая) до 5 (не включая)

Py
tho

 +---+---+---+---+---+---+
 | P | y | t | h | o | n |
 +---+---+---+---+---+---+
   0   1   2   3   4   5   6
  -6  -5  -4  -3  -2  -1

In [41]:
poli = "кит на море не романтик"
poli[::-1]

'китнаморенеромантик'